/* App Component  */
.App{
    display: flex;
    height: 100%;
    /* padding: 1em 0; */
    background-color: hsl(208, 35%, 25%);
}
h1, h2, h3, p {
    color: hsl(208, 35%, 100%);
}

span, li {
    color: hsl(208, 35%, 100%);
}

/* Content Component */

.content-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-div {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-div{
    width: 60vw;
    
}

/* SideBar Component */

.sidebar-div ul {
    height: 100vh;
    list-style: none;
    padding: 50% 16px;
    border-left: solid white 1px;
}
.sidebar-div li {
    position: relative;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    font-size: 2em;
    gap: 20px;
}
.sidebar-div img {
    width: 30px;
    height: 30px;
}
.sidebar-div li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
    border: solid 2px lightblue;
}

/* WhoIAm Component */

.mon-parcours  h2, 
.mon-parcours p{
    padding: 1em;
}
.mon-parcours  h2,
.mon-parcours  h1{
    text-transform: uppercase;
    font-size: 1.5rem;
}
.mon-parcours p{
    width: 75%;
    font-size: 0.9rem;
    
}

/* Xperiences Component */

.mySwiper {
    gap: 2em;
    margin-bottom: 1em;
    padding: 1em;
}
.swiper-slide{
    padding: 2em;
    background-color: hsl(208, 35%,  10%);
    gap: 20px;
}
.swiper-wrapper{
    /* margin-bottom: 3em; */
    padding: 2em 1em;
}
.company-name {
    color: hsl(208, 35%, 70%);
}
.span-date {
    color: hsl(37, 59%, 60%);
    font-style: italic;
}
.swiper-pagination {
    bottom: -20px;
}

