.sidebar-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-div ul {
    list-style: none;
    padding: 2em 16px;
    border-left: solid white 1px;
}
.sidebar-div li {
    position: relative;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    font-size: 2em;
    gap: 20px;
}
.sidebar-div img {
    width: 30px;
}
.sidebar-div li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
    border: solid 2px lightblue;
}